* {box-sizing: border-box}
ul{
  list-style: none;
}
section{
  margin-top: 80px;
}
a{
  text-decoration: none;
}
/* ================================================================
                Nav Start
===================================================================*/
nav{
  position: sticky;
  display: flex;
}
nav .logo{
  width: 20%;
}

nav .nItem{
  display: flex;
  gap: 12px;
  justify-content: center;
}
nav .navBar{
  width: 70%;
}


.overlayPart{
    display: flex;
    gap: 5px;
}
.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}
nav ul li{
  font-size: 24px;
  font: Playfair Display, serif;
}
ul li:hover{
 color: rgb(7, 7, 158);
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
 
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
 
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
  border-radius: 10px;

}

.waviy {
  position: relative;
  width: 30%;
  left: 0px;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 26px;
 
  font-family: Playfair Display, serif;
  
  background: #2f3000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* text-transform: uppercase; */
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,50% {
    transform: rotateY(360deg) 
  }
}



/* ================================================================
                Nav End
===================================================================*/
/* =================================================================
            Photo part start
====================================================================*/

.p12{
  display: none;
  padding: 0 20px;
  border-radius: 50% 0 0 50%;
  border: 1.5px solid green;
  background-color: green;
  color: yellow;
  transition: .5s ease;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 18px;
}
.p12:hover{
  background-color: transparent;
  color: green;
}
.next{
  display: none;
  justify-content: center;
}
.arrow{
  display: flex;
}
.next button{
  display: flex;
  width: 20px;
  border: 1px solid navy;
  padding:15px;
  border-radius: 50%;
  background-color: navy;
  color: white;
  transition: .6s ease;
  margin: 2px;
  justify-content: center;
  
}
.nextN{
  display: none;
  justify-content: center;
}
.nextN button{
  display: flex;
  width: 20px;
  border: 1px solid navy;
  padding:15px;
  border-radius: 50%;
  background-color: navy;
  color: white;
  transition: .6s ease;
  margin: 2px;
  justify-content: center;
  
}
.next button:hover{
  background-color: transparent;
  color: navy;
}
.nextN button:hover{
  background-color: transparent;
  color: navy;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;

}

div.desc {
  padding: 15px;
  text-align: center;
}

main .part1{
  display: none;
}
main .part1a{display: none;}
main .part1b{display: none;}
main .part1c{display: none;}
main .part1d{display: none;}
main .part2{
  display: none;
}
main .part2a{display: none;}
main .part2b{display: none;}
main .part2c{display: none;}
main .part2d{display: none;}
main .part3{
  display: none;
}
main .part3{display: none;}
main .part3a{display: none;}
main .part3b{display: none;}
main .part3c{display: none;}
main .part3d{display: none;}
main .part4{
  display: none;
}
main .part4a{display: none;}
main .part4b{display: none;}
main .part4c{display: none;}
main .part4d{display: none;}

main .part5{display: none;}
main .part5a{display: none;}
main .part5b{display: none;}
main .part5c{display: none;}

.photos{
  display: none;
}
.n12{
  display: none;
  padding: 0 20px;
 
  border: 1.5px solid green;
  background-color: green;
  color: yellow;
  transition: .5s ease;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 18px;
  border-radius: 0 100% 100% 0;
}
.n12:hover{
  background-color: transparent;
  color: green;
}

/* ================================================================
Photo part end
===================================================================*/


/* ================================================================
wellcome part Start
===================================================================*/

  .text{
    text-align: center;
  }


 .text h2{
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Playfair Display', serif; 
  font-size: 40px;
  color: red;
}

/* Animation */
h2 {
  animation: animated-text 4s steps(29) 1s 1 normal both,
             animated-cursor 600ms steps(29) alternate;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{}
  to{border-right-color: transparent;}
}
/* ================================================================
wellcome part end
===================================================================*/