* {box-sizing: border-box}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
nav{
  position: sticky;
  display: flex;
}
nav .logo{
  width: 20%;
}

nav .nItem{
  display: flex;
  gap: 12px;
  justify-content: center;
}
nav .navBar{
  width: 60%;
}
.btn1{
  padding: 20px 30px;
  background-color: navy;
  border: 1px solid navy;
  border-radius: 20px;
  color: white;
  margin-top: 10px;
  transition: .5s ease-in-out;
}
.btn1:hover{
  background-color: transparent;
  color: navy;
}
nav .about{
  width: 20%;
}

.overlayPart{
    display: flex;
    gap: 5px;
}
.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
 
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
 
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
  border-radius: 10px;

}